.jumbotron-fluid2{
    background-image: url("images/JHBanner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    padding-top: 250px;
    position: relative;
    margin-bottom: 0;
}
.btn-floating{
    color: black;
}
.navbar-collapse{
    font-size: 20px;
    align-content: center;
}
ul.navbar-nav{
    margin: auto;
}
.footerText{
    align-content: center;
}
.list-inline-item{
    color: black;
}
img{
    width: 30%;
    height: 20%;
    margin-left: 10%;
    margin-top: 5%;

}
#ContactMe{
    margin-top: 10%;
}