.jumbotron-fluid2{
    background-image: url("images/JHBanner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    padding-top: 250px;
    position: relative;
    margin-bottom: 0;
}
.btn-floating{
    color: black;
}
.navbar-collapse{
    font-size: 20px;
    align-content: center;
}
ul.navbar-nav{
    margin: auto;
}
.footerText{
    align-content: center;
}
.list-inline-item{
    color: black;
}

.media img {
    width: 20%;
    margin-left: 15%;
    margin-top: 5%;

}

.media .media-body {
    margin-top: 12%;
    margin-right: 20%;
}
#ContactMe{
    margin-top: 10%;
}
