.jumbotron-fluid2{
    background-image: url("images/jhBanner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    padding-top: 250px;
    position: relative;
    margin-bottom: 0;
}
.navbar-collapse{
    font-size: 20px;
    align-content: center;
}
ul.navbar-nav{
    margin: auto;
}
.footerText{
    align-content: center;
}
.list-inline-item{
    color: black;
}
img{
    width: 20%;
    height: 20%;
     margin-left: 10%;
}
